<h1>All Orders</h1>
  <div>
    Filter: <input type="text" ng-model="customerFilter.name" />
  </div>
  <br>
  <span>Total orders: {{ orders.length }}</span>
  <br>
  <table class="table table-striped">
    <tr>
      <th ng-click="doSort('id')">Id</th>
      <th ng-click="doSort('name')">title</th>
      <th ng-click="doSort('city')">City</th>
  </tr>
  <tr ng-repeat="order in orders">
    <td> {{ order.id }} </td>
    <td><a ng-href="#/users/{{order.id}}"> {{ order.title }} </a></td>
    <td> {{ order.city }} </td>
  </tr>
  </table>