<h1>All Cutomers</h1>
  <div>
    Filter: <input type="text" ng-model="customerFilter.name" />
  </div>
  <br>
  <span>Total customers: {{ customers.length }}</span>
  <br>
  <table class="table table-striped">
    <tr>
      <th ng-click="doSort('id')">Id</th>
      <th ng-click="doSort('name')">Name</th>
      <th ng-click="doSort('city')">City</th>
      <th></th>
      <th></th>
  </tr>
  <tr class="repeat-animation" ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
    <td> {{ cust.id }} </td>
    <td><a ng-href="#/customers/{{cust.id}}"> {{ cust.name }} </a></td>
    <td> {{ cust.city }} </td>
    <td>
      <a ng-href="#/customers/{{cust.id}}/orders">view orders</a>
    </td>
    <td>
      <div class=" glyphicon glyphicon-remove" ng-click="deleteUser(cust.id)"></div>
    </td>
  </tr>
  </table>